.new-food{
    color: rgb(255, 252, 238);
    padding: 10px 20px 20px 20px;
}
.new-food:hover{
    box-shadow: 0 0 11px rgba(255, 255, 255, 0.918); 

}
h2{
    font-family: 'Lobster', cursive;
    text-shadow:2px 2px rgb(0, 0, 0);
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.418);

}

.add-food-details{
    margin-bottom: 0px;

}
.form-box{
    font-size: 22px;
    font-weight: 600;
    text-shadow:3px 3px rgb(83, 14, 5);
}

#nutri-fact{
    margin-bottom: -10px;
    margin-top: 20px;
}
