*{
    box-sizing: border-box;
    /* background-image: url("src\My Components\background-img.jpg"); */
}
h3{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-shadow: wheat;
    color: black;
    padding: 20px 0 15px 0;
    background: rgba(255, 255, 255, 0.555);
    margin-bottom: 50px;
    text-shadow: 1px 1px #ff0000;
}
h3:hover{
    box-shadow: 0 0 20px rgba(231, 26, 26, 0.918); 

}
.No-Dishes
{
    margin-top: 100px;
    font-size:40px;
    color: white;
    text-shadow: 3px 3px black;
    text-align: center;
    margin-bottom: 100px;
}
