

.header-company-nav{
    background: black; 
    color: white;

}
img{
    height: 100px;
    width: 180px;
}
.nav-buttons-para{
    font-size: 20px;
}


  h1{
      font-size: 50px;
      background: black;
  }
  .nav-buttons{
      font-size: large;
  }



